<div class="overlay" *ngIf="show">
  <div class="modal">
    <form [formGroup]="eventForm" (submit)="confirm()">
      <h1 *ngIf="isUpdate; else createEventTitle">Editar Evento</h1>
      <ng-template #createEventTitle><h1>Novo Evento</h1></ng-template>
      <textarea
        formControlName="description"
        type="text"
        placeholder="Descrição do evento"
      ></textarea>
      <div class="inputLine">
        <input formControlName="start_date" type="date" />
        <input formControlName="start_time" type="time" />
      </div>
      <div class="inputLine">
        <input formControlName="end_date" type="date" />
        <input formControlName="end_time" type="time" />
      </div>
      <div class="inputLine">
        <button id="cancel" (click)="toggle()">Cancelar</button>
        <button id="confirm">Confirmar</button>
      </div>
      <div class="deleteContainer" *ngIf="isUpdate">
        <i data-feather="log-in"></i>
        <a (click)="delete()">Deletar evento</a>
      </div>
    </form>
  </div>
</div>
